/**
 * toFixed 保留小数点后几位
 * @param {Number} num 目标数字
 * @param {Number} digits 小数点后数字的个数
 */
function toFixed(num, digits = 2) {
  return num.toFixed(digits)
}

/**
 * 获取随机数字
 * @param {Number} max 最大值
 */
function random(max) {
  return Math.round(Math.random() * max)
}

module.exports = {
  toFixed: toFixed,
  random: random
};